.text-box {
  width: auto;
  margin: 10px;
  border: 3px solid #000000;
  box-shadow: 6px 6px 0px 0px #000000;
  transition: 250ms;
  -webkit-box-shadow: 6px 6px 0px 0px #000000;
}

.text-box-container {
  width: auto;
}

.img {
  z-index: -1;
  width: 250px;
  height: 250px;
  background: center center no-repeat;
  background-position: 50% 0;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.text-box:hover {
  box-shadow: 6px 3px 0px 0px #000000;
  -webkit-box-shadow: 6px 3px 0px 0px #000000;
}

.text-box-two-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.text-box-title {
  margin: 8px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-decoration: underline;
}

.quote-text {
  margin: 8px;
  font-weight: bold;
  font-size: 1rem;
}

.quote-author {
  margin: 8px;
  font-size: 1rem;
  text-align: right;
}

.text-list {
  margin: 8px;
  list-style: none;
  columns: 2;
  font-size: 1rem;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 960px) {
  .img {
    width:150px;
    height: 150px;
  }
}
