:root {
  --borjoBlack: #231f20;
}

.hidden-card {
  display: none;
}

.btn-timeline {
  background-color: white;
  color: var(--borjoBlack);
  padding: 10px;
  margin: 15px;
  flex: 1 1 0px;
  font-weight: bold;
}

.btn-timeline__active {
  background-color: var(--borjoBlack);
  color: white;
}

.btn-timeline:focus {
  outline: 0;
}

.timeline-selector {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .timeline-selector {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
