.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 80px);
    padding: 1em;
    box-sizing: border-box;
    color: black;
    background: url('../../images/borjo-hero.webp') center center no-repeat;
    background-size: cover;
  }
  
  .hero-text {
    max-width: 50vw;
    margin: 0;
    padding-left: 2rem;
    font-weight: bold;
  }
  
  .hero-title {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  
  .hero-undertitle {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }
  
  .hero-description {
    font-size: 1 rem;
  }
  
  .hero-description:hover .underlined {
    background-size: 100% 100%;
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 transparent;
  }
  
  .underlined {
    flex: 1;
    line-height: 1.2;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background 0.5s;
  }
  
  .underlined:hover {
    background-size: 100% 100%;
  }
  
  .underlined--offset {
    background-position: 0 0.2em;
    box-shadow: inset 0 -0.5em 0 0 transparent;
  }
  
  .underlined--thick {
    background-position: 0 -0.1em;
  }
  
  .Iam {
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
  }
  
  .Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
    /*animation*/
    -webkit-animation: move 7s;
    -moz-animation: move 7s;
    -ms-animation: move 7s;
    -o-animation: move 7s;
    animation: move 7s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  
  @-webkit-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  @-moz-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  @-o-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  
  @media screen and (max-width: 960px) {
    .hero-text {
      max-width: 50vw;
      margin: 0;
      padding-left: 1rem;
      font-weight: bold;
    }
  
    .hero-title {
      font-size: 3rem;
      padding-bottom: 0.5rem;
    }
  
    .hero-undertitle {
      font-size: 0.4rem;
      padding-bottom: 2rem;
    }
  
    .hero-description {
      font-size: 0.5 rem;
    }
  }
  