:root {
  --borjoBlack: #231f20;
}

.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100vw;
  height: 80px;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  background: transparent;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  justify-self: start;
}

.logo {
  width: 40px;
  height: 40px;
}

.logo-image {
  width: 40px;
  height: 40px;
  transition: transform 330ms;
}

.logo-image:hover {
  transform: scale(1.2);
}

.nav-content {
  display: flex;
  justify-content: flex-end;
}

.nav-menu {
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}

.nav-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
}

.nav-link {
  padding: 0.5rem 1rem;
  color: var(--borjoBlack);
  line-height: 40px;
  text-decoration: none;
  box-shadow: inset 0 -3px 0 -1px var(--borjoBlack);
  transition: box-shadow 0.25s ease-in-out;
  -webkit-transition: box-shadow 0.25s ease-in-out;
  -moz-transition: box-shadow 0.25s ease-in-out;
  -o-transition: box-shadow 0.25s ease-in-out;
  isolation: isolate;
}

.nav-link.active {
  color: white;
  background-color: var(--borjoBlack);
}

.nav-link:hover {
  color: white;
  box-shadow: inset 0 -40px 0 -1px var(--borjoBlack);
}

.nav-link-text.hover {
  color: white;
  mix-blend-mode: difference;
}

.fa-bars {
  color: white;
}

.nav-link-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    background-color: var(--borjoBlack);
  }
  .nav-menu {
    display: flex;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    opacity: 1;
    z-index: 1;
    left: 0;
    background: var(--borjoBlack);
    transition: all 0.5s ease;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    list-style: none;
    grid-gap: 10px;
  }

  .logo-image {
    content: url('../../images/borjo-logo-inverted.svg');
  }

  .nav-link {
    display: table;
    width: 100%;
    padding: 2rem;
    color: white;
    text-align: center;
    box-shadow: inset 0 -3px 0 -1px var(--white);
    transition: none;
  }

  .nav-link.active {
    color: var(--borjoBlack);
    background-color: white;
  }

  .nav-link:hover {
    box-shadow: none;
    mix-blend-mode: normal;
  }



  .menu-icon {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 1.8rem;
  }
}
