:root {
  --borjoBlack: #231f20;
}

.LanguageSelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.lang-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
  border: 0px;
  border: 1px solid;
  border-color: var(--borjoBlack);
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  transition: transform 330ms;
}

.lang-btn:hover {
  transform: scale(1.2);
}

.es {
  background: url(../images/flags/spain.svg) no-repeat;
}

.de {
  background-image: url(../images/flags/germany.svg);
}

.en {
  background-image: url(../images/flags/united-kingdom.svg);
}

.selected-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  font-size: 1rem;
  cursor: pointer;
}

.selected-lang:before {
  display: block;
  width: 32px;
  height: 32px;
  content: '';
  background-image: url(../images/flags/germany.svg);
}

.lang-menu ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.lang-menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-menu ul li a:before {
  display: inline-block;
  width: 32px;
  height: 32px;
  content: '';
}

.lang-menu:hover ul{
  display: block;
}
